<section class="card">
  <a href="/comment/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/pictures/{{filename}}" alt="{{description}}">
      <p>By: {{username}}</p>
    </div>
  </a>
</section>
